/*
 * Copyright 2019 The Hekate Project
 *
 * The Hekate Project licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */

.startHere {
    display: none;
    float: left;
    border: 1px dotted #999999;
    padding: 3px 3px 3px 3px;
    margin-right: 4px;
    background-color: #ffffcc;
    font-family: verdana, sans-serif;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}

td.colLast > div > span.startHere {
    display: block;
}

a {
    font-weight: bold;
}

a.ui-tabs-anchor {
    font-weight: normal !important;
}

.hljs {
    background-color: #efefef;
}

.hljs-bullet {
    background-color: #efefef;
}
